<configuration>
    <contextName>word2vecocrfixer</contextName>

    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>target/${CONTEXT_NAME}.log</File>

        <encoder>
            <pattern>%d [%t] %-5p %c - %m%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>target/${CONTEXT_NAME}.log.%i</FileNamePattern>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>32MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="R"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
